<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/main.css" %}">
    <link rel="stylesheet" href="{% static "styles/fonts.css" %}">
    <link rel="stylesheet" href="{% static "styles/header.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png" %}" >
    <title>SEO Dashboard</title>
  </head>
  <body>
    <main>
      <header>
        <h1>SEO Dashboard Name</h1>
        <div id="date-selector">
          <span id="calendar-icon"></span>
          <span id="selected-period-label">Последние 30 дней</span>
          <span id="dropdown-icon"></span>
        </div>
      </header>
    </main>
  </body>
</html>
